
/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f4f4;
}

h1 {
  color: #0269cf;
}

p {
  font-size: 14px;
  line-height: 1.5;
}
p{
    color:rgb(170, 20, 15)
}
.note{
    color:rgb(255, 140, 0)
}
#intro {
    color:rgb(126, 205, 136)
}